h1, h2, h3, h4, h5, h6 {
  font-family: "Sigmar One", serif !important;
}

.post h1, h2, h3, h4, h5, h6 {
  font-family: "Sigmar One", serif !important;
  color: #1f4f9c !important;
}

.sidebar {
  background-color: #1f4f9c !important;
}

.page-title, .post-title, .post-title {
  color: #1f4f9c !important;
  text-decoration: none;
}

.page-title, .post-title, .post-title a {
  color: #1f4f9c !important;
  text-decoration: underline;
}

.sidebar-about h1 {
  text-decoration: none !important;
}

.sidebar-about a:hover {
  text-decoration: none !important;
}

.posts > li {
  text-transform: uppercase;
}