

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

/* Sidebar content */
.sidebar a {
  font-family: 'Sigmar One', sans-serif;
  font-weight: normal;
  color: #fff;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
  font-family: 'Sigmar One', sans-serif;
}
.page-title,
.post-title {
  margin-top: 0;
}